* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Inter", sans-serif;
}
:root {
  --section-heading: 3rem;
  --description: 0.87rem;
  --light-gray: rgba(255, 255, 255, 0.5);
  --white: #ffffff;
}

/* shared styles  */
main {
    background-color: rgb(0, 0, 0);
}
.container {
  max-width: 1060px;
  margin: 0 auto;
  text-align: center;
}
.btn {
  background-color: #e6533c;
  color: #ffffff;
  font-size: 1.12rem;
  font-weight: 600;
  padding: 1rem 2.87rem;
  border-radius: 2.62rem;
  border: none;
}
.section-title {
  font-size: var(--section-heading);
  color: var(--white);
  font-weight: 800;
  margin-bottom: 0.87rem;
}
.description {
  font-size: var(--description);
  color: var(--light-gray);
  line-height: 1.5rem;
  margin-bottom: 3.62rem;
}

/* nav related style  */
header {
  /* background: linear-gradient(#111111 , #77777700); */
  background-color: hsl(0, 0%, 13%);
  padding-top: 3.56rem;
}
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#nav-title {
  color: #e6533c;
  font-size: 2.25rem;
  font-weight: 800;
}
.nav-menu {
  display: flex;
  gap: 2.93rem;
  list-style: none;
}
.nav-btn {
  padding: 0.5rem 1.25rem;
}
.nav-link {
  text-decoration: none;
  color: var(--white);
  font-size: 1.13rem;
}
.hamburger {
  display: none;
}

/* banner related styles  */
.banner-section {
  display: flex;
  align-items: center;
  gap: 10rem;
  margin-top: 33px;
}
.banner-heading {
  font-size: 4.75rem;
  color: var(--white);
  font-weight: 900;
  margin-bottom: 1.75rem;
}
.banner-btn {
  margin-top: 1.75rem;
}
.banner-image {
  vertical-align: middle;
}
/* Change Your Habits section style  */
.your-habits {
    padding-top: 6.25rem;
}
.habit-image-box {
    display: flex;
    justify-content: center;
    gap: 2.5rem;
}
.habit-title {
    color: var(--white);
    font-size: 1.12rem;
    margin-bottom: 6px;
}
.habit-image img {
    width: 180px;
    height: 180px;
    border-radius: 50%;
}
/* Easy Fitness section */
.easy-fitness {
    border-radius: 18px;
    background-color: #222222;
    padding: 1.87rem 2rem;
    display: flex;
    align-items: center;
    margin-top: 3.12rem;
}
.easy-image img {
    width: 366px;
    border-radius: 18px;
}
.easy-descripton {
    margin-bottom: 2.12rem;
}
/* small device responsive  */
@media screen and (max-width: 576px) {
  nav {
    justify-content: center;
  }
  .nav-link {
    display: none;
  }
  .hamburger {
    display: block;
  }
  .banner-section,
  .habit-image-box,
  .easy-fitness {
    flex-direction: column;
    gap: 40px;
  }
  .banner-content {
    padding: 20px;
  }
  .banner-btn {
    display: flex;
    gap: 14px;
  }
}

/* responsive for medium device */
@media screen and (min-width: 576px) and (max-width: 1000px) {
  header {
    padding: 20px;
  }
  .banner-section {
    flex-wrap: wrap;
    gap: 40px;
    padding-left: 20px;
    text-align: left;
  }
  .banner-image img {
    padding: 0 9.37rem 0;
  }
  .banner-btn {
    display: flex;
    justify-content: center;
    gap: 25px;
  }
  .habit-image-box {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
  .easy-fitness {
    gap: 68px;
  }
}
