* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Inter", sans-serif;
  background-color: rgb(0, 0, 0);
}
:root {
  --section-heading: 3rem;
  --description: 0.87rem;
  --light-gray: rgba(255, 255, 255, 0.5);
  --white: #ffffff;
}

/* shared styles  */
.container {
  max-width: 1060px;
  margin: 0 auto;
  text-align: center;
}
.btn {
  background-color: #e6533c;
  color: #ffffff;
  font-size: 1.12rem;
  font-weight: 600;
  padding: 1rem 2.87rem;
  border-radius: 2.62rem;
  border: none;
}
.section-title {
  font-size: var(--section-heading);
  color: var(--white);
  font-weight: 800;
  margin-bottom: 0.87rem;
}
.description {
  font-size: var(--description);
  color: var(--light-gray);
  line-height: 1.5rem;
  margin-bottom: 3.62rem;
}

/* nav related style  */
header {
  /* background: linear-gradient(#111111 , #77777700); */
  background-color: hsl(0, 0%, 13%);
  padding-top: 3.56rem;
}
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#nav-title {
  color: #e6533c;
  font-size: 2.25rem;
  font-weight: 800;
}
.nav-menu {
  display: flex;
  gap: 2.93rem;
  list-style: none;
}
.nav-btn {
  padding: 0.5rem 1.25rem;
}
.nav-link {
  text-decoration: none;
  color: var(--white);
  font-size: 1.13rem;
}
.hamburger {
  display: none;
}

/* banner related styles  */
.banner-section {
  display: flex;
  align-items: center;
  gap: 10rem;
  margin-top: 33px;
}
.banner-heading {
  font-size: 4.75rem;
  color: var(--white);
  font-weight: 900;
  margin-bottom: 1.75rem;
}
.banner-btn {
  margin-top: 1.75rem;
}
.banner-image {
  position: relative;
}
.tooltip-1 {
  width: 11rem;
  padding: 1.06rem 1.5rem;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 12px;
  text-align: left;
  position: absolute;
  bottom: 22.31rem;
  left: 14.37rem;
}
.tooltip-1-heading {
  font-size: 2.5rem;
  font-weight: 900;
  color: var(--white);
}
.tooltip-1-description {
  font-size: 0.81rem;
  color: var(--light-gray);
}
.tooltip-2 {
  width: 12.87rem;
  padding: 1.06rem 1.5rem;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 12px;
  /* text-align: left; */
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  bottom: 3.93rem;
  right: 16rem;
}
.ball {
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
  background-color: #E6533C;
}
.tooltip-2-heading {
  /* margin-bottom: 0.5rem; */
  font-size: 1.5rem;
  color: var(--white);
}
.tooltip-2-description {
  margin-left: 6px;
  color: var(--light-gray);
}
.banner-image img {
  vertical-align: middle;
}
/* Change Your Habits section style  */
.your-habits {
  padding-top: 6.25rem;
}
.habit-image-box {
  display: flex;
  justify-content: center;
  gap: 2.5rem;
}
.habit-title {
  color: var(--white);
  font-size: 1.12rem;
  margin-bottom: 6px;
}
.habit-image img {
  width: 180px;
  height: 180px;
  border-radius: 50%;
}
/* Easy Fitness section */
.easy-fitness {
  border-radius: 18px;
  background-color: #222222;
  padding: 1.87rem 2rem;
  display: flex;
  gap: 10.31rem;
  align-items: center;
  margin-top: 3.12rem;
}
.easy-image img {
  width: 100%;
  border-radius: 18px;
}
.easy-description {
  margin-bottom: 2.12rem;
}
/* Trainings and Exercises related style */
.trainings-section {
    text-align: left;
    margin-top: 6.25rem;
}
.trainings-box {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    /* grid-template-rows: repeat(1, 225px); */
}
.trainings-box img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  mix-blend-mode: multiply;
}
.trainings-card-1 {
  background-color: rgba(102, 237, 213, 0.967);
}
.trainings-card-2 {
  background: #ff7672;
  grid-column: span 2;
}
.trainings-card-3 {
  background-color: rgba(204, 204, 204, 1);
}
.trainings-card-4 {
  background: linear-gradient(rgba(255, 255, 255, 1), rgba(0, 0, 0, 0.5));
  grid-column: span 2;
}
.trainings-card-5 {
  background-color: rgb(130, 206, 103);
}
.trainings-card-6 {
  background-color: #648df4f9;
}

/* meat our team section related style  */
.our-team {
  margin-top: 6.25rem;
}
.team-image-box {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  background-color: hsl(0, 0%, 10%);
  border-radius: 18px;
  gap: 20px;
  padding: 20px;
}
.team-image img {
  height: 272px;
  object-fit: cover;
  width: 100%;
  border-radius: 18px;
}
.team-image {
  position: relative;
  text-align: left;
}
.title-box {
  position: absolute;
  bottom: 30px;
  left: 19px;
}
.image-title {
  font-size: 1.25rem;
  font-weight: 900;
  color: var(--white);
}
.image-description {
  font-size: 0.87rem;
  color: rgba(255, 255, 255, 0.5);
  font-weight: 400;
}
/* footer related styles  */
footer {
  margin-top: 5.5rem;
  background-color: hsl(0, 0%, 10%);
}
.footer-container {
  display: flex;
  padding-top: 4.12rem;
  gap: 9.5rem;
}
.footer-title {
  font-size: 4.37rem;
  font-weight: 800;
  color: #e6533c;
  margin-bottom: 1.25rem;
}
.About-title {
  font-size: 2rem;
  color: var(--white);
  margin-bottom: 2.43rem;
}
.About-menu {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
}
.about-link {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.5);
}
.copyright {
  padding-bottom: 2.18rem;
}
.copyright hr {
  color: rgba(255, 255, 255, 0.1);
  margin-top: 4.87rem;
  margin-bottom: 2.25rem;
}
.copyright p {
  color: rgba(255, 255, 255, 0.5);
  font-size: 1rem;
}

/* small device responsive  */
@media screen and (max-width: 576px) {
  nav {
    justify-content: center;
  }
  .nav-link {
    display: none;
  }
  .hamburger {
    display: block;
  }
  .banner-section,
  .habit-image-box,
  .easy-fitness,
  .footer-container {
    flex-direction: column;
    gap: 40px;
  }
  .banner-content {
    padding: 20px;
  }
  .banner-btn {
    display: flex;
    gap: 14px;
  }
  .tooltip-1 {
    left: 13.38rem;
  }
  .tooltip-2 {
    right: 11rem;
  }
  .trainings-section {
    padding: 20px;
  }
  .trainings-box {
    display: grid;
    grid-template-columns: repeat(2, auto);
    /* grid-template-rows: repeat(1, 225px); */
}
.trainings-card-2 {
  grid-column: span 1;
}
.trainings-card-3,
.trainings-card-4 {
  display: none;
}
  .team-image-box {
    grid-template-columns: repeat(1, 1fr);
  }
  .team-image img {
    object-fit: cover;
    width: 100%;
  }
}

/* responsive for medium device */
@media screen and (min-width: 576px) and (max-width: 1000px) {
  header {
    padding: 20px;
  }
  .banner-section,
  .footer-container {
    flex-wrap: wrap;
    gap: 40px;
    padding-left: 20px;
    text-align: left;
  }
  .banner-image img {
    padding: 0 9.37rem 0;
  }
  .banner-btn {
    display: flex;
    justify-content: center;
    gap: 25px;
  }
  .habit-image-box {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
  .easy-fitness {
    gap: 68px;
  }
}
